.recipe-button {
    width: 98% ;
    height: 4.6rem;
    background: #3fbcb2;
    color: #fff;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none important!;
    margin: 1rem;
}


.recipe-button:hover {
    transition: color 400ms;
    background: var(--color-secondary-button);
  }