.result {
  justify-content: start;
}

.points {
  padding-left: 12rem;
  padding-top: 2rem;
}

.observations {
  padding-top: 3rem;
  justify-content: start;
}

.obs-box {
  padding: 1rem;
  margin-right: 10rem;
  margin-left: 10rem;
  border-radius: 1rem;
  width: 200;
  height: 150px;
  background: var(--color-secundary-add);
}