
.bloco{
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
  overflow: auto;
  background-color: blueviolet;
}

.radios{
  justify-content: space-between;
}
.questionnaire-input{
  width: 100%;
  border-radius: 1rem;
  background-color: rgb(157, 241, 234);
  border-color: transparent;
  padding: 1rem;
  margin-bottom: 2rem;
}
/* .teste1{
  float: left;
  width: 40%;
  text-align: left;
}

.teste2{
  text-align: right;
  float: right;
  width: 40%;
} */


/* .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    z-index: 1000;
    padding: 2rem calc(4rem + 15px) 2rem 4rem;
    justify-content: center;
  }

  .title{
    text-align: center;
  }

  .question {
    text-align: start;
    padding: 1rem;
    padding-left: 5rem;
  }

  .content {
      overflow:scroll; 
      padding: 3rem;
  }

  .single-questionnaire{
    overflow:scroll; 
    min-width: 600px;
    max-height: 600px;
    margin-left: 25rem;
    position: fixed;
    margin-right: 30rem;
    background-color: #fff;
    border-radius: 4rem;
  }

  .single-formQuestion{
    padding: 20px;
   bottom: 1rem;
    
  }
  
  @media (max-width: 40rem) {
    .modal {
      padding: 2rem calc(2rem + 15px) 2rem 2rem;
    }
  } */
