

div div h1 {
    justify-content: start;
    text-decoration: none;
    text-align: left;
    padding-left: 2rem;
    font-size:larger;
}

.questionnaire-status{
    font-weight: 600;
}

.questionnaire-button {
    width: 98% ;
    height: 4.6rem;
    background: #3fbcb2;
    color: #fff;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none important!;
    margin: 1rem;
}


.questionnaire-button:hover {
    transition: color 400ms;
    background: var(--color-secondary-button);
    text-decoration: none important!;
  }