.about {
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    padding: 25px 0px;
    color: #1f1f1f;
    text-align: justify;
    align-items: center;
}

.about-description {
    margin-left: 200px;
    margin-right: 200px;
}

.about-title {
    text-align: center;
    color: var(--color-text-title-darker);
}

.about-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-position: center
}

.about-values {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 250px;
    margin-top: 25px;
}

.col-sm-4 {
    text-align: center;
    margin: 0px 0;
}

.mission-vision {
    display: flex;
}

.value {
    color: var(--color-text-complement-grey);
    text-align: center;
    margin: 20px;
    max-width: 300px;
    min-width: auto;
}

.value-title {
    color: var(--color-text-title-darker);
    font-family: Montserrat, sans-serif;
}

.values {
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat, sans-serif;
}

/* SESSÃO EQUIPE */

.team {
    background: var(--color-background-primary);
    color: #fff;
    padding: 60px 50px;
    font-family: Montserrat, sans-serif;
}

.team-title {
    font-style: normal;
    font-weight: 100;
}