.doubts {
    font-family: Montserrat, sans-serif;
    background-color: var(--color-background-primary);
    color: #fff;
    text-align: center;
    overflow: auto;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.ask{
    margin-left: 10rem;
}

.doubt-button{
    margin-left: 16rem;
}

.doubts-container {
    font-family: Montserrat, sans-serif;
    margin-top: 1px;
    max-width: 900px;
    color: rgb(119, 100, 100);
    overflow: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.doubt-input {
    color: rgb(94, 91, 91);
    width: 80%;
    height: 8rem;
    border-width: medium;
    border-color: #fff;
    padding: 6px 12px;
    border-radius: 0.8rem;
    margin: 5px 0;
    border-width: medium;
    background: var(--color-secundary-add);
    padding: 6px 12px;
    border: 1px solid #fff;
}
a{
    font-size: 15px;
}


body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a {
    background-color: 000000;
    color: #ffffff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0.8rem;
    transition: 0.4s;

}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover a {
    background-color: #93e7df;
    color: #fff;
    text-decoration: none;
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a .p-accordion-toggle-icon {
    color: #fff;
}

body .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover a .p-accordion-toggle-icon {
    color: #bbb8b8;
}

.p-accordion .p-accordion-header a>span {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    text-decoration: none;
}

body .p-accordion .p-accordion-header a {
    padding: 0.571em 1em;
    /* border: 1px solid #9ec7c3; */
    color: #333333;
    background-color: #34b9ae;
    color: #fff;
    border-radius: 0.8rem;
    transition: 0.4s;
    text-decoration: none;
}

