.library-container {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  max-width: 900px;
  margin: 20px 20px;
  background-color: var(--color-box-base);
  color: var(--color-background-primary);
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
}
.video-area {
  justify-content: center;
}

.icons-area {
  padding-left: 5rem;
  justify-content: space-evenly;
}

.back-button{
  padding-left: 2.5rem;
  border-color: transparent;
  background-color: transparent;
  padding-bottom: 1rem;
  
}

.action-icon {
  padding: 0.5rem;
  color: rgb(71, 71, 71);
  border-color: transparent;
  background-color: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.body-recipe {
    padding-top: 3rem;
  display: flex;
}

.ingredients {
  padding-left: 3rem;
  flex: 50%;
  text-align: start;
  justify-items: center;
}

.image-title-icons{
    justify-content: center;
}

.recipe-image{
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;

}

.prepare {
  flex: 50%;
  text-align: start;
  padding-left: 2rem;
}
