.videos {
    font-family: Montserrat, sans-serif;
    background-color: var(--color-background-primary);
    color: var(--color-text-title-lighter);
    text-align: center;
    overflow: auto;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.library-container {
 
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    max-width: 900px;
    margin: 20px 20px;
    background-color: var(--color-box-base);
    color: var(--color-background-primary);
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
}

.icon{
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
}
.library-header{ 
    display: flex;
    justify-content: space-between; 
}

.content-icons-area{
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    margin-left: 2rem;
}

.content-icon {
    margin-right: 1rem;
    color: gray;
}

.my-library-link a{
    color: var(--color-background-primary);
}

.image-content{
    object-fit: cover;
    margin-top: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 220px;
    height: 150px;
}

.content-item {
    display: flex;
    justify-content: center;
      padding: 1rem;
      border-radius: 1rem;
      width: 250px;
      height: 300px;
      background:#c9f8f4;
      margin: 2rem;
  }

  .content-description{
      text-justify:auto;
      text-decoration: none;
  }

.content-title{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 12px;
    color: #3fbcb2;
}

.search {
    margin: 5px 0;
    border-width: medium;
    background: var(--color-secundary-add);
    padding: 6px 12px;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    
}

.custom .p-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.custom .p-scrollpanel-bar {
    background-color: var(--color-background-primary);
    opacity: 1;
    transition: background-color .3s;
}

.custom .p-scrollpanel-bar:hover {
    background-color: var(--color-primary-lighter);
}