.library-container {
 
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    max-width: 900px;
    margin: 20px 20px;
    background-color: var(--color-box-base);
    color: var(--color-background-primary);
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
}

.icon{
    padding: 0.5rem;
}
.library-header{ 
    display: flex;
    justify-content: space-between; 
}

.my-library-link {
    color: #3fbcb2;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
}

.search {
    margin: 5px 0;
    border-width: medium;
    background: var(--color-secundary-add);
    padding: 6px 12px;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    
}

.custom .p-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.custom .p-scrollpanel-bar {
    background-color: var(--color-background-primary);
    opacity: 1;
    transition: background-color .3s;
}

.custom .p-scrollpanel-bar:hover {
    background-color: var(--color-primary-lighter);
}