.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  a :hover{
    text-decoration: none;
  }

  .meu-protocolo{
    text-justify: initial;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .protocol-phase{
    padding-top: 2rem;
    
  }

  .phase-list{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 5rem;
  }

  .phase-title{
    font-weight: 600;

  }