@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100&display=swap');

:root {
  font-size: 60%;
  --color-background-primary: #3fbcb2;
  --color-background-secundary: #dfeaf4;
  --color-font-primary: #FFFFFF;
  --color-primary-lighter: #8bd8cd;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #5ba39d;
  --color-secundary-add: #9ee4de;
  --color-secundary-dark: #468b86;
  --color-secundary-dark-add: #7bc4be;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title-lighter: #ffffff;
  --color-text-title-darker: #3fbcb2;
  --color-text-complement: #9C98A6;
  --color-text-complement-grey: #686868;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-secondary: #4ec4b9;
  --color-box-footer: #FAFAFC;
  --color-primary-button: #3fbcb2;
  --color-secondary-button: #31938e;
  text-decoration: none important!;
}
* {

  padding: 0rem;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
}

/* .home, .reports, .products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

body {
  text-align: center;
  background-color: #5fdbd1;
  margin: 0px;
  color: #333;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p{
  margin: 0px;
}

.box p{
  font-size: large;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}


a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center
  }
  .box {
  margin-top: -40px;
  width: 60%;
  height:max-content;
  background: #fff;
  border-radius: 40px;
  z-index: 1000;
  }

  .container .box {
    padding: 4rem;
  }
  
  body {
  margin: 0px;
  }

  .button {
    width: 13rem;
    height: 4.6rem;
    background: var(--color-primary-button);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    text-decoration: none important!;
    margin: 1rem;
    }
      
.button:hover {
    transition: color 400ms;
    background: var(--color-secondary-button);
  }

  .animeUp {
    opacity: 0;
    transition: translateY(-20px);
    animation: animeUp 0.3s forwards;
  }

  @keyframes animeUp {
    to {
      opacity: 1;
      transform: initial;
    }
  }

