.modal {
position: fixed;
top: 50%;
left: 50%;
transform: 'translate(-50%, -50%)';
background: '#fff';
padding:50px;
z-index: 1000;


}

.overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;

}