.navbar {
    background-color: #3fbcb2;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: none;
    max-width: 200px;
    max-height: 100px;
    margin-top: 3rem;
    margin-bottom: 50px;
}

.gap{
    margin-right: 2rem;
    font-size: 3rem;
    background: none;
    z-index: -1;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 3rem;
    background: none;
}

.nav-menu{
    background-color: #3fbcb2;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.navbar-logo{
    align-items: center;
    justify-self: center;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 0px 26px;
    list-style: none;
    height: 40px;
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    letter-spacing: -1px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #8bd8cd;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: #3fbcb2;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span{
    margin-left: 6px;
}